<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<div id="friends" >
  <% @friends.each do |friend| %>
    <%= render friend %>
    <p>
      <%= link_to "Show Friend", friend, class:"btn btn-dark" %>
    </p>
  <% end %>
  <%= link_to "Add Friend", new_friend_path, class:"btn btn-secondary" %>
</div>
